<div class="media" [ngClass]="{'heart': weatherData.favorite}">
    <div class="media-left">
        <icon-weather [icon]="item.weather[0].icon"></icon-weather>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-xs-5">
                <h4 class="media-heading"><span>{{weatherData.name}}</span></h4>
                <h4 class="media-heading">
                    <small><span class="btn btn-default app-oval">{{weatherData.main.temp}}&#8451;</span></small>
                </h4>
            </div>
            <div class="col-xs-7">
                <div class="list-group">
                    <p class="list-group-item">Wind: {{item.wind.speed}} meter/sec</p>
                    <p class="list-group-item">Wind direction:
                        <wind-data [direction]="item.wind.deg"></wind-data>
                    </p>
                    <p class="list-group-item">Pressure: {{weatherData.main.pressure}} hPa</p>

                </div>
            </div>
        </div>

    </div>
    <div class="media-btn-wrapper">
        <button type="button" class="btn btn-danger app-circle" (click)="makeFavorite(weatherData)">
            <i class="fa fa-heart"></i>
        </button>
        <button type="button" class="btn btn-default app-circle" (click)="removeItem(i)">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>