<h2>Weather list</h2>
<div class="col-xs-6 col-sm-6 col-md-4 media-wrapper" *ngFor="let item of cityList; let i = index">
    <template [ngIf]="i < filterData.cityCounts">
        <div class="media" [ngClass]="{'heart': item.favorite}">
            <div class="media-left">
                <icon-weather [icon]="item.weather[0].icon"></icon-weather>
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="media-heading" style="text-align: left;">
                            <span>{{item.name}}</span>
                            <span *structDir="i"> !!!</span>
                        </h4>
                        <h4 class="media-heading">
                            <small>
                                    <span class="btn btn-default app-oval" [tempColor]="item.main.temp">
                                        <span *ngIf="filterData.tempType === '1'">{{item.main.temp | waCelsius}} &#8451;</span>
                                        <span *ngIf="filterData.tempType === '2'">{{item.main.temp}} &#8457;</span>
                                    </span>
                            </small>
                        </h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="list-group">
                            <p *ngIf="filterData.visibleElements.speed" class="list-group-item">Wind:
                                {{item.wind.speed}} meter/sec</p>
                            <p *ngIf="filterData.visibleElements.direction" class="list-group-item">Wind direction:
                                <wind-data [direction]="item.wind.deg"></wind-data>
                            </p>
                            <p *ngIf="filterData.visibleElements.pressure" class="list-group-item">Pressure:
                                {{item.main.pressure}} hPa</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="media-btn-wrapper">
                <button type="button" class="btn btn-danger app-circle" (click)="getWeatherDetails(item)">
                    <i class="fa fa-heart"></i>
                </button>
                <button type="button" class="btn btn-default app-circle" (click)="removeItem(i)">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </template>
</div>