<div class="row">
    <div class="col-lg-12">
        <h2>Weather Table</h2>
        <single-city *ngIf="currenCity" cityData="currenCity"></single-city>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Temp</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cityList">
                    <td>
                        <button class="btn btn-link" >{{item.name}} </button>
                    </td>
                    <td>{{item.main.temp | celsius}} celsius</td>
                    <td>{{item.main.pressure}}</td>
                    <td>{{item.main.humidity}}</td>
                </tr>
                <tr *ngIf="!cityList ">
                    <td>Loading...</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--(click)="select(item)"-->