<header-component></header-component>

<div style="height:100vh; padding: 50px 0 60px">
    <div style="height:100%; overflow: auto; padding: 10px 0">
        <div class="container">
            <div class="row" style="position: relative;">
                <error-handling></error-handling>
                <!--*ngIf="errorMessage" [errorMessage]="errorMessage"-->
            </div>
            <div class="row" style="position: relative;">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="button" class="btn btn-info" (click)="openWidget()">{{togleBtnWidgetName}} widget</button>
                    <router-outlet name="city"></router-outlet>
                </div>
            </div>
            <div class="row" style="position: relative;">
                <router-outlet></router-outlet>
            </div>
        </div>

        <!--<single-city *ngIf="isVisible"-->
        <!--[componentData]="componentTypeSettings"-->
        <!--(cityUpdated)="handleCityUpdated($event)"></single-city>-->
        <!--<favorite-city *ngIf="isFavotiteVisible" [cityDetails]="favoriteCityDetails"></favorite-city>-->
        <!--</div>-->

    </div>
</div>

<footer-component></footer-component>
