<div class="app-spinner" *ngIf="active">
    <div class="app-spinner-circle1 app-spinner-circle"></div>
    <div class="app-spinner-circle2 app-spinner-circle"></div>
    <div class="app-spinner-circle3 app-spinner-circle"></div>
    <div class="app-spinner-circle4 app-spinner-circle"></div>
    <div class="app-spinner-circle5 app-spinner-circle"></div>
    <div class="app-spinner-circle6 app-spinner-circle"></div>
    <div class="app-spinner-circle7 app-spinner-circle"></div>
    <div class="app-spinner-circle8 app-spinner-circle"></div>
    <div class="app-spinner-circle9 app-spinner-circle"></div>
    <div class="app-spinner-circle10 app-spinner-circle"></div>
    <div class="app-spinner-circle11 app-spinner-circle"></div>
    <div class="app-spinner-circle12 app-spinner-circle"></div>
</div>