<div class="col-xs-12 col-sm-12 col-md-12">
    <last-refresh [time]="position.timestamp"></last-refresh>
</div>
<div class="col-xs-12 col-sm-12 col-md-12">
    <h2>Google Map</h2>

    <!--<spinner [active]="!position.coords"></spinner>-->

    <div *ngIf="position.coords">
        <coord-info [position]="position"></coord-info>
    </div>

    <div *ngIf="position.coords">
        <sebm-google-map [latitude]="position.coords.latitude"
                         [longitude]="position.coords.longitude">

            <sebm-google-map-marker [latitude]="position.coords.latitude"
                                    [longitude]="position.coords.longitude">
            </sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>